@import "../../../../constants/variables.scss";

.sidebarItem {
  color: $bright-gray;
  font-size: large;
  p {
    margin-left: 1em;
  }

  a {
    display: flex;
  }

  &:hover {
    p {
      color: $bright-white;
    }

    svg {
      color: $bright-white;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .active {
    color: $bright-white;
  }

  .activeIcon {
    color: $bright-white;
  }
}
