@import "../../../constants/variables.scss";

.topbarButton {
  margin-left: 1.5em;
  background-color: transparent;
  color: $bright-black;
  border-color: $bright-black;

  &:hover {
    background-color: $bright-black;
    color: $bright-white;
    border-color: $bright-black;
  }
}
