@import "../../../../../../styles/variables.scss";

.sidebarItem {
  color: $bright-gray;
  font-size: large;
  p {
    margin-left: 1em;
  }

  a {
    display: flex;
    align-items: center;
  }

  &:hover {
    p {
      color: $bright-white;
    }

    svg {
      color: $bright-white;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .active {
    color: $bright-white;
  }

  .activeIcon {
    color: $bright-white;
  }
}
